:host {
    display: block;
    padding: 1rem;
    width: 94%;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  mat-button-toggle-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
  }
  
  .btn-verde {
    background-color: #4CAF50;
    color: white;
    margin-bottom: 1rem;
  }
  
  .btn-verde:hover {
    background-color: #45A049;
  }
  
  .btn-rojo {
    background-color: #F44336;
    color: white;
  }
  
  .btn-rojo:hover {
    background-color: #D32F2F;
  }
  