<div class="topbar">
  <h1>Colegios</h1>
  <div class="center-label">Centro de Búsqueda Académica</div>
  <div class="user-icons">
    <mat-icon>person</mat-icon>
  </div>
</div>

<div class="content">

  <!-- Colegios -->
  <mat-card class="column">
    <h2>Colegios</h2>
    <!-- (click)="openSchoolFilterDialog()" -->
    <button class="filter-button">Filtros</button>
    <div class="scrollable-list">
      <mat-list>
        <mat-list-item *ngFor="let school of schools" (click)="openSchoolDialog(school)">
          <div class="list-item">
            <img src="assets/school.png" class="list-icon" alt="Colegio">
            <h4 matLine>{{ school.name }}</h4>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>

  <!-- Estudiantes -->
  <mat-card class="column">
    <h2>Estudiantes</h2>
    <!-- (click)="openStudentFilterDialog()" -->
    <button class="filter-button" (click)="openStudentFilterDialogByYear()">Filtrar por año</button>
    <button class="filter-button" (click)="openStudentFilterDialogBySchool()">Filtrar por colegio</button>
    <button class="filter-button" (click)="openStudentFilterDialogByGrade()">Filtrar por grado</button>
    <button class="filter-button" (click)="openStudentFormDialog()">Crear Estudiante</button>
    <div class="scrollable-list">
      <mat-list>
        <mat-list-item *ngFor="let student of students" (click)="openStudentDialog(student)">
          <div class="list-item">
            <img [src]="student.gender === 'Femenino' ? 'assets/student-female.png' : 'assets/student-male.png'" class="list-icon" alt="Estudiante">
            <h4 matLine>{{ student.name }}</h4>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>

  <!-- Docentes -->
  <mat-card class="column">
    <h2>Docentes</h2>
    <!-- (click)="openTeacherFilterDialog()" -->
    <button class="filter-button">Filtros</button>
    <div class="scrollable-list">
      <mat-list>
        <mat-list-item *ngFor="let teacher of teachers" (click)="openTeacherDialog(teacher)">
          <div class="list-item">
            <img src="assets/teacher-male.png" class="list-icon" alt="Docente">
            <h4 matLine>{{ teacher.name }}</h4>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>

</div>
