<h1 mat-dialog-title>{{ data.student ? 'Editar' : 'Nuevo' }} Estudiante</h1>
<div mat-dialog-content [formGroup]="studentForm">
<mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
    <mat-label>Fecha de Nacimiento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birth_date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
    <mat-label>Género</mat-label>
    <mat-select formControlName="gender">
        <mat-option value="Femenino">Femenino</mat-option>
        <mat-option value="Masculino">Masculino</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
    <mat-label>Colegio</mat-label>
    <mat-select formControlName="school">
      <mat-option *ngFor="let school of data.schools" [value]="school.id">{{ school.name }}</mat-option>
    </mat-select>
</mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="onSubmit()">Guardar</button>
</div>
